/* custom.css */
.left-code {
/* color: #777; */
  width: 38%;
  height: 92%;
  float: left;
}

.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}

/* custom.css */
.left-half {
/* color: #777; */
  width: 48%;
  height: 92%;
  float: left;
}

.right-half {
  width: 48%;
  float: right;
  padding-left: 2%;
}

/* custom.css */
.left-code-wide {
/* color: #777; */
  width: 58%;
  height: 92%;
  float: left;
}

.right-plot-narrow {
  width: 40%;
  float: right;
  padding-left: 1%;
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}

.small-font .remark-code { /*Change made here*/
  font-size: 70% !important;
}

.big-math {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  position: absolute;
  height: 100%;
  width: 90%;
}

.scroll-output {
  height: 90%;
  overflow-y: scroll;
}

.scroll-box-right {
  height:33em;
  overflow-y: scroll;
}

.max-sum {
  color: #4682b4;
}

.max-prod {
  color: #a020f0;
}

.center-fig {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
}